<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064565526029-4c8hej8slje6i46b0qae9qu51mc016l2.apps.googleusercontent.com</string>
	  	<key>NSLocalNetworkUsageDescription</key>
          <string>Allow network access for local communication</string>
          <key>NSAllowsLocalNetworking</key>
          <true/>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064565526029-4c8hej8slje6i46b0qae9qu51mc016l2</string>
	<key>API_KEY</key>
	<string>AIzaSyAlLxeWrBflHszEsEPBq1mrqYQYX22H_J0</string>
	<key>GCM_SENDER_ID</key>
	<string>1064565526029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ares.divya.divya</string>
	<key>PROJECT_ID</key>
	<string>html-740f9</string>
	<key>STORAGE_BUCKET</key>
	<string>html-740f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	 <key>NSUserActivityTypes</key>
        <array>
            <string>com.apple.gallery.openDetail</string>
        </array>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064565526029:ios:29af0a0a2cabe3a8138f44</string>
	<key>DATABASE_URL</key>
	<string>https://html-740f9-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
